/* General styles for larger screens */
body {
  font: normal .78em arial, sans-serif;
  background: #444;
  color: #555;
}

/* Header styles */
#header {
  width: 890px;
  background: url(back.png) repeat-x;
}

/* Logo styles */
#logo {
  width: 890px;
  height: 200px;
  background: url(logo.jpg) no-repeat;
}

/* Navigation styles */
#menubar {
  width: 890px;
  height: 35px;
  padding: 8px 0 0 0;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 1;
  float: right;
}

/* Main content styles */
#main {
  width: 910px;
  background: url(content.png) repeat-y;
}

#content {
  text-align: left;
  width: 600px;
  float: left;
  padding: 20px 0 15px 30px;
}

/* Sidebar styles */
.sidebar {
  float: right;
  width: 198px;
  padding: 20px 25px 15px 15px;
}

/* Footer styles */
#footer {
  width: 890px;
  height: 33px;
  padding: 20px 0 4px 0;
  text-align: center;
  background: #555;
  color: #AAA;
  border-top: 1px solid #FFF;
  letter-spacing: 0.2em;
  font-size: 80%;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  #header, #logo, #menubar, #main, #footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #logo {
    height: 150px;
  }

  #menubar {
    height: auto;
    margin-top: 10px;
  }

  #content {
    width: 100%;
    padding: 20px;
  }

  .sidebar {
    float: none;
    width: 100%;
  }
}